<!DOCTYPE html>
<html>
  <head>
    <title>试卷管理系统:</title>
    <link rel="stylesheet" href="{{STATIC_URL}}/css/home.css">
    <link rel="shortcut icon" href="{{STATIC_URL}}/images/favicon.ico"/>
  </head>

  <body>
    <div id="header">
      <div id="h_left">
        <a href="/dg/">回首页</a>
      </div>
      <div id="h_right">
      东莞市地理统考试卷管理系统
      </div>
    </div>
    <div id="content">
      <div id="left">
       <br/><br/><br/><br/><br/><br/>
       试卷查找
       <HR style="FILTER: alpha(opacity=100,finishopacity=0,style=2)" width="80%" color=#987cb9 SIZE=10>
       <form action="/dg/search" method="get">
        <p> 试卷科目  
          <select name="ex_subject">
            <option value="地理">地理</option>
          </select>
        <p> 试卷年级   
         <select name="ex_grade">
            <option value="高三上">高三上学期</option>
            <option value="高二上">高二上学期</option>
            <option value="高二下">高二下学期</option>
            <option value="高一上">高一上学期</option>
            <option value="高一下">高一下学期</option>
            <option value="初二上">初二上学期</option>
            <option value="初二下">初二下学期(中考)</option>
            <option value="初一上">初一上学期</option>
            <option value="初一下">初一下学期</option>
          </select></p>
        <p> 试卷年份
          <select name="ex_time">
            <option value="2019-2020学年">2019-2020学年</option>
            <option value="2018-2019学年">2018-2019学年</option>
            <option value="2017-2018学年">2017-2018学年</option>
            <option value="2016-2017学年">2016-2017学年</option>
            <option value="2015-2016学年">2015-2016学年</option>
            <option value="2014-2015学年">2014-2015学年</option>
            <option value="2013-2014学年">2013-2014学年</option>
            <option value="2012-2013学年">2012-2013学年</option>
            <option value="2011-2012学年">2011-2012学年</option>
            <option value="2010-2011学年">2010-2011学年</option>
          </select> </p>
        <input type="submit" value="查找!">
       </form>
       <HR style="FILTER: alpha(opacity=100,finishopacity=0,style=2)" width="80%" color=#987cb9 SIZE=10>
      </div>
      <div id="right">
      <object data="{{STATIC_URL}}pdf/dg/{{ file_name }}#page=1" type="application/pdf" width="100%" height="100%">
         <p>I am sorry <a href="paper1.pdf"></a></p>
      </object>
      </div>
    </div>
    <div id="footer">
      <div id="f_left">
      {{ what  }}
      </div>
      <div id="f_right">
        {% if docx_file_name %}
        <button type="button" onclick="javascript:window.location.href='{{STATIC_URL}}pdf/dg/{{docx_file_name}}'">Download docx file!</button>
        {% else %}
        <button type="button" disabled="disabled">Download docx file!</button>
        {% endif %}
      </div>
    </div>
  </body>
</html>
