<!DOCTYPE html>
<html>
  <head>
    <title>高考试题管理系统:</title>
    <link rel="stylesheet" href="{{STATIC_URL}}/css/home.css">
    <link rel="shortcut icon" href="{{STATIC_URL}}/images/favicon.ico"/>
  </head>

  <body>
    <div id="header">
      <div id="h_left">
        <a href="/dg/">回首页</a>
      </div>
      <div id="h_right">
      高考地理试题管理系统
      </div>
    </div>
    <div id="content">
      <div id="left">
       <br/><br/><br/><br/><br/><br/>
       试卷查找
       <HR style="FILTER: alpha(opacity=100,finishopacity=0,style=2)" width="80%" color=#987cb9 SIZE=10>
       <form action="/dg/search" method="get">
        <p> 试卷科目  
          <select name="ex_subject">
            <option value="地理">地理</option>
          </select></p>
        <input type="submit" value="查找!">
       </form>
       <HR style="FILTER: alpha(opacity=100,finishopacity=0,style=2)" width="80%" color=#987cb9 SIZE=10>
      </div>
      <div id="right">
      <object data="{{STATIC_URL}}pdf/dg/{{ file_name }}#page=1" type="application/pdf" width="100%" height="100%">
         <p>I am sorry <a href="paper1.pdf"></a></p>
      </object>
      </div>
    </div>
    <div id="footer">
      <div id="f_left">
      {{ what  }}
      </div>
      <div id="f_right">
        {% if docx_file_name %}
        <button type="button" onclick="javascript:window.location.href='{{STATIC_URL}}pdf/dg/{{docx_file_name}}'">下载相应docx文件!</button>
        {% else %}
        <button type="button" disabled="disabled">下载相应docx文件!</button>
        {% endif %}
      </div>
    </div>
  </body>
</html>
