<!DOCTYPE html>
<html>
  <head>
    <title>高考试题管理系统:</title>
    <link rel="stylesheet" href="{{STATIC_URL}}/js/shiti.css">
    <link rel="shortcut icon" href="{{STATIC_URL}}/images/favicon.ico"/>
    <script src="{{STATIC_URL}}js/jquery.min.js"></script>
    <script src="{{STATIC_URL}}js/jstree.min.js"></script>
    <link rel="stylesheet" href="{{STATIC_URL}}js/themes/default/style.min.css" />
    <link rel="stylesheet" href="{{STATIC_URL}}css/shiti.css">
  </head>

<script>
$.ajaxSetup({
            data:{csrfmiddlewaretoken:'{{ csrf_token }}'}
        })

$(function() {
  $('#c_left').jstree({
    'core' : {
      'data' : {
        "url" : "{{STATIC_URL}}js/shiti.json",
        "dataType" : "json"
      }
    }
  });

  $('#c_left').on("changed.jstree", function (e, data) {
   var ref = $('#c_left').jstree(true);
   var sel = ref.get_selected(false);
   var totalSel = sel.toString();

   $.ajax({
      type: 'POST',
      url:'api/',
      data: {'pdata':totalSel},
      dataType:'json',
      success: function(result) {
        <!-- alert(result['output']) -->

        string1="<object data='{{STATIC_URL}}shiti/2020/"
        string1+=result['output']
        string1+=".pdf#page=1' type='application/pdf' width='100%' height='100%'>"
        $("#c_right").html(string1);
        },
      error:function(result) {alert("Something is wrong in server !");}
      })
  });
})

</script>

  <body>
    <div id="header">
      <div id="h_left">
        <a href="/shiti/">回首页</a>
      </div>
      <div id="h_right">
      高考地理试题管理系统
      </div>
    </div>
    <div id="content">
      <div id="c_left"></div>
      <div id="c_right">
      <object data="{{STATIC_URL}}shiti/2020/{{ file_name }}#page=1" type="application/pdf" width="100%" height="100%">
      </object>
      </div>
    </div>
    <div id="footer">
      <div id="f_left">
      {{ what  }}
      </div>
      <div id="f_right">
        留空!
      </div>
    </div>
  </body>
</html>
