<!DOCTYPE html>
<html>
  <head>
    <title>高考试题管理系统:</title>
    <link rel="stylesheet" href="{{STATIC_URL}}/js/shiti.css">
    <link rel="shortcut icon" href="{{STATIC_URL}}/images/favicon.ico"/>
    <script src="{{STATIC_URL}}js/jquery.min.js"></script>
    <script src="{{STATIC_URL}}js/jstree.min.js"></script>
    <link rel="stylesheet" href="{{STATIC_URL}}js/themes/default/style.min.css" />
    <link rel="stylesheet" href="{{STATIC_URL}}css/shiti.css">
  </head>

<script>
$.ajaxSetup({
            data:{csrfmiddlewaretoken:'{{ csrf_token }}'}
        })

$(function() {
  $('#c_left').jstree({
    'core' : {
      'data' : {
        "url" : "{{STATIC_URL}}js/shiti.json",
        "dataType" : "json"
      }
    }
  });

  $('#c_left').on("changed.jstree", function (e, data) {
   var ref = $('#c_left').jstree(true);
   var sel = ref.get_selected(false);
   var totalSel = sel.toString();
   var t1data="";
   var t2data="";
   var t3data="";

   t1data = document.getElementById("check1").checked;
   t2data = document.getElementById("check2").checked;
   t3data = document.getElementById("check3").checked; 

   $.ajax({
      type: 'POST',
      url:'api/',
      data: {'pdata':totalSel,'t1data':t1data,'t2data':t2data,'t3data':t3data},
      dataType:'json',
      success: function(result) {

        string1="<object data='{{STATIC_URL}}shiti/"
        string1+=result['output']
        string1+=".pdf#page=1&zoom=100' type='application/pdf' width='99%' height='99%'>"
        $("#c_right").html(string1)

        string2="一共找到"+result['timushu']+"道试题!"
        $("#f_center").html(string2)

        string3=""
        if(t3data) {
          string3="<a href='{{STATIC_URL}}shiti/"
          string3+=result['docx_name']
          string3+=".docx'>下载docx文件!"
          }
        $("#f_right").html(string3)
        },
      error:function(result) {
        alert("Something is wrong in server !");
        }
      })
  });
})

</script>

  <body>
    <div id="header">
      <div id="h_left">
        <a href="/shiti/">回首页</a>
      </div>
      <div id="h_right">
      高考地理试题管理系统
      </div>
    </div>
    <div id="content">
      <div id="c_left"></div>
      <div id="c_right">
      <object data="{{STATIC_URL}}shiti/{{ file_name }}#page=1" type="application/pdf" width="100%" height="100%">
      </object>
      </div>
    </div>
    <div id="footer">
      <div id="f_left" class="blue_word">
        <input id="check1" type="checkbox" checked="checked">附答案</input>
        <input id="check2" type="checkbox" checked="checked">附解析</input>
        <input id="check3" type="checkbox">附Docx文件</input>
      </div>
      <div id="f_center" class="blue_word">
        Result of the search !
      </div>
      <div id="f_right" class="blue_word">
        <a href="">下载相应Docx文件!</a>
      </div>
    </div>
  </body>
</html>
