<!DOCTYPE html>
<html>
<head>
    <title>Display2</title>
    <style type="text/css">
      #heading{
            width: 100%;
            height: 10%;
            background: aqua;
        }
        #content{
            width: 100%;
            height: 80%;
            background: #FFD700;
            float: left;
        }
    </style>
</head>
<body>
This is my test html for display2 !
Here I test template:  {{ what  }}
<div id="heading">I am DIV heading !</div>
<div id="content">I am DIV content !</div>
</body>
</html>
