<!DOCTYPE html>
<html>
  <head>
    <title>Display2</title>
  </head>

  <style>
    html{
      height:100%;
      }
    body{
      height:100%;
      }
    #header{
      width: 100%;
      height:10%;
      border:1px;
      background: aqua;
      overflow:hidden;
      }
    #content{
      width: 100%;
      height:80%;
      background: #FFD700;
      float: left;
      }
    #footer{
      width:100%;
      height:10%;
      }
  </style>

  <body>
    <div id="header">I am DIV heading !
      <img src="{{STATIC_URL}}dog.jpg" />
    </div>
    <div id="content">I am PDFObject !</div>
    <script type="text/javascript" src="{{STATIC_URL}}pdfobject.min.js"></script>
    <script>
      PDFObject.embed("{{STATIC_URL}}pdf/paper1.pdf", "content");
    </script>

    <div id="footer">
      This is my test html for display2 !
      Here I test template:  {{ what  }}
    </div>
  </body>
</html>
